<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>烂笔头-gleaner</title>

    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>

    <!-- Main DIV -->
    <div class="main">
        <!-- notes group list -->
        <div class="main-left">
            <!-- logo -->
            <div class="left-head">
                <div class="logo">
                    <h1 class="logo-world">烂</h1>
                </div>
            </div>
            <!-- group list -->
            <ul class="group-list">
                <li><a>{{cat:1}}<span class="notes-count">(120)</span></a></li>
                <li><a>成长日记<span class="notes-count">(10)</span></a></li>
                <li><a>技术再要记录<span class="notes-count">(20)</span></a></li>
            </ul>
            <!-- group list footer -->
            <div class="add-group">

            </div>

        </div>

        <!-- notes title list -->
        <div class="main-middle">

        </div>

        <!-- notes content -->
        <div class="main-right">

        </div>
    </div>

</body>
</html>